# Node.js
**/node_modules/
npm-debug.log
yarn-error.log

# React
build/
dist/
.cache/
design/

# SQLite
**/*.sqlite
back/maxdb.sqlite

.env
!*.env.example

# Logs
logs/

# React
frontend/build/
frontend/dist/
frontend/.cache/
uploads/