name: Deploy and Release

on:
  push:
    branches: ["master"]

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: deploy using ssh
        uses: appleboy/ssh-action@v1.2.2
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          port: ${{ secrets.PORT }}
          command_timeout: 20m
          script: |
            export NVM_DIR="$HOME/.nvm"
            [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
            nvm use 22
            set -e
            echo "--> Navigating to application directory..."
            cd /home/ubuntu/titus-mantrailing/

            echo "--> Pulling latest code..."
            git fetch origin
            git reset --hard origin/master
            git clean -df
            echo "--> Creating .env file..."
            echo "ACCESS_TOKEN_SECRET='${{ secrets.ACCESS_TOKEN_SECRET }}'" > .env
            echo "PORT=${{ vars.PORT }}" >> .env
            echo "DB_NAME=${{ vars.DB_NAME }}" >> .env
            echo "MONGODB_URI=${{ secrets.MONGODB_URI }}" >> .env
            echo "CORS_ORIGIN=${{ vars.CORS_ORIGIN }}" >> .env
            echo "R2_ACCESS_KEY_ID=${{ secrets.R2_ACCESS_KEY_ID }}" >> .env
            echo "R2_SECRET_ACCESS_KEY=${{ secrets.R2_SECRET_ACCESS_KEY }}" >> .env
            echo "R2_BUCKET_NAME=${{ vars.R2_BUCKET_NAME }}" >> .env
            echo "R2_ENDPOINT=${{ vars.R2_ENDPOINT }}" >> .env
            echo "--> Creating frontend .env file..."
            echo "REACT_APP_API_URL=${{ vars.REACT_APP_API_URL }}" > frontend/.env
            echo "REACT_APP_NOMINATIM_API_URL=${{ vars.REACT_APP_NOMINATIM_API_URL }}" >> frontend/.env
            echo "REACT_APP_TILE_PROVIDER_URL=${{ vars.REACT_APP_TILE_PROVIDER_URL }}" >> frontend/.env
            echo "--> Installing dependencies..."
            npm i;
            echo "--> Installing frontend dependencies..."
            npm i --prefix frontend;
            echo "--> Building frontend..."
            npm run build --prefix frontend;
            echo "--> Restarting application with PM2..."
            # Ensure the app is started, then restart it to apply changes.
            pm2 delete titus-mantrailing || true
            pm2 start ecosystem.config.js --env production
            echo "--> Deployment complete."

  release:
    name: Release
    needs: deploy
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Generate version
        id: version
        uses: paulhatch/semantic-version@v5.4.0
        with:
          major_pattern: "${{vars.GIT_SEMANTIC_VERSION_MAJOR_PATTERN}}"
          minor_pattern: "${{vars.GIT_SEMANTIC_VERSION_MINOR_PATTERN}}"
          version_format: "${major}.${minor}.${patch}"
          bump_each_commit: "true"
          tag_prefix: "v" # It's a good practice to prefix tags with 'v'
      - name: Check if release already exists
        id: check_release
        run: |
          if gh release view ${{ steps.version.outputs.version }} > /dev/null 2>&1; then
            echo "exists=true" >> $GITHUB_OUTPUT
          fi
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Create Release and Tag
        if: steps.version.outputs.changed == 'true' && steps.check_release.outputs.exists != 'true'
        run: |
          gh release create ${{steps.version.outputs.version}} --generate-notes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
